html,
body {
    margin: 0;
    padding: 0;
}
:root{
    --cl : rgb(156, 156, 156);
    --intfont:  'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    background-color: rgb(26, 26, 26);
    
}

.nav-elements{
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cl);
    border-bottom: 2px solid #2f2f2f;
    font-weight: 400;
    
}


.left-nav{
    display: flex;
    padding: 0 50px;
    gap: 20px;
    font-size: 15px;
}

.right-nav{
    display: flex;
    padding-right: 30px;
    justify-content: flex-end;
    gap: 20px;
    font-size: 15px;
    
}

.vue{
    font-size: 25px;
    font-family: var(--intfont);
}

.right-nav a{
    color: var(--cl);
    font-size: 18px;
}

.button-search{
    border-radius: 10px;
    border: 0px solid transparent;
    background-color: #2f2f2f;
    color: var(--cl);
    font-size: 15px;
}

.button-ctrl {
    border-radius: 6px;
    letter-spacing: 1px;
    border: .5px solid rgb(62, 58, 58);
    background-color: #2f2f2f;
    /* padding: 0px 4px; */
    color: var(--cl);
    padding: 0px 4px;
    font-size: 12px;
}

.button-ctrl:hover{
          color:#4de375 ;
          border: .5px solid #4de375;
}

.center{
    width: 100%;
    height: 500px;
    border-bottom: 2px solid #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
 .heading-center{
    font-size: 5rem;
    font-weight: 900;
    padding: 0 115px;
    font-family: var(--intfont);
    /* color: #fff; */
    background: -webkit-linear-gradient(rgb(66, 211, 146),
        rgb(86, 160, 211));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

 .heading-center-2{
    font-size: 5rem;
    font-family: var(--intfont);
    background: -webkit-linear-gradient(rgb(66, 211, 146),
                rgb(86, 160, 211));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    margin-top: -60px;
    padding: 0 ;
    font-weight: 900;
        
}
.para-center{
    color:var(--cl);
   margin-top: -30px;
    font-size: 21px;
    padding-right: 20px;
    font-weight: 400;
    
    
}


.center-buttons{
    padding-top: 20px;
    margin-left: 15rem;
    font-family: var(--intfont);
    display: flex;
    gap: 20px;
}
.center-buttons-1{
    font-size: 20px;
    font-weight: 400;
    border: 2px solid transparent;
    background: #42b883;
    border-radius: 10px;
    color: rgb(62, 58, 58);
padding: 5px;
font-family: var(--intfont);
    
}

.center-buttons-2 {
    font-size: 20px;
    font-weight: 400;
    border: 2px solid transparent;
    background-color: #2f2f2f;
    border-radius: 10px;
    color: rgb(132, 132, 169);
    font-family: var(--intfont);
    padding: 5px;
        

}
.center-buttons-3 {
    font-size: 20px;
    font-weight: 400;
    border: 2px solid transparent;
    background-color: #2f2f2f;
    border-radius: 10px;
    color: rgb(132, 132, 169);
    font-family: var(--intfont);
    padding:5px;


} 

.sponsor{
    border-bottom: 2px solid #2f2f2f;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color:var(--cl) ;
    font-weight: 400;
        
}





